.ui.form
  .fields
    .field
      .ui.right.action.left.icon.input
        i.search.icon
        input(placeholder="Search", (input)="setKeyword($event.target.value)")
        .ui.basic.floating.dropdown.button
          .text Select field
          i.dropdown.icon
          .menu
            .item((click)="setField('')") All
            .item((click)="setField('user')") User
            .item((click)="setField('method')") Method
            .item((click)="setField('collection')") Collection
    .field
      .ui.left.icon.input
        i.calendar.icon
        input(placeholder="Start: YYYY-MM-DD", (input)="setStartDate($event.target.value)")
    .field
      .ui.left.icon.input
        i.calendar.icon
        input(placeholder="End: YYYY-MM-DD", (input)="setEndDate($event.target.value)")

table.ui.fixed.compact.striped.celled.table
  thead
    tr
      th Date
      th User
      th Method
      th Collection
      th.one.wide
  tbody
    tr(*ngFor="#t of list")
      td {{t._id | timestamp | moment:'YYYY-MM-DD HH:mm:ss'}}
      td {{t.t?.payload?.name}}
      td {{t.q?.method}}
      td {{t.q?.name}}
      td.center.aligned
        .ui.blue.icon.button(#e, [class.loading]="e.loading", (click)="view(t, e)")
          i.zoom.icon

.ui.right.aligned.grid
  pagination.column(*ngIf="!loading", [(page)]="page")

.ui.active.centered.large.inline.loader(*ngIf="loading")

alert
