.ui.form
  .fields
    .field
      .ui.right.action.left.icon.input
        i.search.icon
        input(placeholder="Search", (input)="setKeyword($event.target.value)")
        .ui.basic.floating.dropdown.button
          .text Select field
          i.dropdown.icon
          .menu
            .item((click)="setField('')") All
            .item((click)="setField('name')") Name

table.ui.definition.compact.celled.table
  thead
    tr
      th
      th Name
      th.one.wide
      th.one.wide
  tbody
    tr(*ngFor="#t of list | async")
      td.collapsing
        .ui.fitted.checkbox
          input(type="checkbox", (change)="select(t, $event.target.checked)", [ngModel]="select(t)")
          label
      td {{t.name}}
      td.center.aligned
        .ui.teal.icon.button(#e, [class.loading]="e.loading", (click)="edit(t, e)")
          i.edit.icon
      td.center.aligned
        .ui.red.icon.button((click)="delete(t)")
          i.remove.icon
  tfoot.full-width
    tr
      th
      th(colspan=3)
        .ui.right.floated.small.primary.labeled.icon.button((click)="add()")
          i.users.icon
          | Add Role
        .ui.red.small.labeled.icon.button((click)="deleteSelected()")
          i.erase.icon
          | Delete Selected

.ui.right.aligned.grid
  pagination.column(*ngIf="!loading", [(page)]="page")

.ui.active.centered.large.inline.loader(*ngIf="loading")

dialog

alert
