.ui.form
  .fields
    .field
      .ui.right.action.left.icon.input
        i.search.icon
        input(type="text", placeholder="Search", (input)="setKeyword($event.target.value)")
        .ui.basic.floating.dropdown.button
          .text Select field
          i.dropdown.icon
          .menu
            .item((click)="setField('')") All
            .item((click)="setField('name')") Username
            .item((click)="setField('enabled')") Enabled
            .item((click)="setField('role')") Role

table.ui.definition.compact.striped.celled.table
  thead
    tr
      th
      th Username
      th Enabled
      th Role
      th.one.wide
      th.one.wide
  tbody
    tr(*ngFor="#t of list | async")
      td.collapsing
        .ui.fitted.checkbox
          input(type="checkbox", (change)="select(t, $event.target.checked)", [ngModel]="select(t)")
          label
      td {{t.name}}
      td
        i.green.checkmark.icon(*ngIf="t.enabled")
        i.red.remove.icon(*ngIf="!t.enabled")
      td {{getRole(t.role)}}
      td.center.aligned
        .ui.teal.icon.button(#e, [class.loading]="e.loading", (click)="edit(t, e)")
          i.edit.icon
      td.center.aligned
        .ui.red.icon.button((click)="delete(t)")
          i.remove.icon
  tfoot.full-width
    tr
      th
      th(colspan=5)
        .ui.right.floated.small.primary.labeled.icon.button((click)="add()")
          i.user.icon
          | Add User
        .ui.red.small.labeled.icon.button((click)="deleteSelected()")
          i.erase.icon
          | Delete Selected

.ui.right.aligned.grid
  pagination.column(*ngIf="!loading", [page]="page")

.ui.active.centered.large.inline.loader(*ngIf="loading")

dialog

alert
