.ui.form
  .fields
    .field
      .ui.right.action.left.icon.input
        i.search.icon
        input(type="text", placeholder="Search", (input)="setKeyword($event.target.value)")
        .ui.basic.floating.dropdown.button
          .text Select field
          i.dropdown.icon
          .menu
            .item((click)="setField('')") All
            .item((click)="setField('user')") User
            .item((click)="setField('method')") Method
            .item((click)="setField('collection')") Collection

table.ui.fixed.striped.celled.table
  thead
    tr
      th User
      th Method
      th Collection
  tbody
    tr(*ngFor="#t of list | async")

.ui.right.aligned.grid
  pagination.column(*ngIf="!loading", [data]="page", [subscribeTo]="observable", (next)="next($event)")

.ui.active.centered.large.inline.loader(*ngIf="loading")

.alert([subscribeTo]="observable", (next)="next($event)")
